* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-style: normal;
}
:root {
  --bold-color: #666666;
}
#container1 {
  width: 80%;
  margin: auto;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* #container1 > div {
  width: auto;
} */

.mySlides {
  height: 400px;
}

#con1-child {
  /* border: 1px solid blueviolet; */
  height: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
}

#con1-child a img {
  /* border: 1px solid teal; */
  width: 100%;
  height: 90%;
}

.container2 {
  /* border: 1px solid red; */
  background-color: white;
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-box {
  /* border: 1px solid green; */
  display: flex;
}

.header > a {
  font-size: 20px;
  color: #2184ff;
  font-weight: normal;
  margin-left: 15px;
}

.header > a:hover {
  text-decoration: underline;
}

.header2 > a {
  font-size: 24px;
  color: #666666;
  font-weight: normal;
}

.header2 {
  /* border: 1px solid red; */
  width: 34%;
  margin-right: 10px;
}

.image-box {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 3px;
}

.image-box > a > img {
  width: 100%;
  height: 210px;
  border-radius: 5px;
}

.image-box > a > p {
  color: gray;
  text-align: center;
}

.image-box > a > p:hover {
  text-decoration: underline;
}

#container3 {
  background-color: white;
  margin-top: 70px;
  height: auto;
  padding-top: 50px;
}

#container3 > div {
  font-size: 36px;
  color: #666666;
  text-align: center;
  margin-top: 50px;
}

#con3-img {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  position: relative;
  bottom: 40px;
  gap: 20px;
}

#con3-img > div {
  font-size: 20px;
  color: #999999;
  display: flex;
  align-items: center;
}

#con3-img > img {
  width: 350px;
}

#container3 > div:nth-child(3) {
  font-size: 26px;
  color: #888888;
  position: relative;
  bottom: 30px;
}

#container4 {
  /* border: 1px solid blue; */
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#container4 > div {
  border: 1px solid rgb(218, 214, 214);
  box-shadow: 1px 1px 2px #cccccc;
  padding: 20px;
  border-radius: 10px;
}

#container4 > div > img {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#container4 > div > h3 {
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
}

#container4 > div > p {
  font-size: 14px;
  color: #888888;
  margin-top: 5px;
  line-height: 20px;
  margin-bottom: 10px;
}

#con4-para {
  /* border: 1px solid red; */
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 20px;
  color: #888888;
  margin-top: 100px;
  font-weight: 700px;
  margin-bottom: 80px;
}

#red-btn {
  background-color: #f53838;
  font-size: 16px;
  width: 36%;
  margin: auto;
  padding: 25px 40px;
  border-radius: 6px;
  margin-bottom: 80px;
}

#red-btn:hover {
  background-color: #c10606;
}

#red-btn > h1 {
  font-weight: bold;
  color: #ffffff;
  line-height: 40px;
  font-size: 40px;
}

#red-btn > p {
  color: #ffffff;
  font-size: 16px;
  line-height: 10px;
  font-weight: bold;
  margin-top: 10px;
}

#As-featured {
  font-size: 26px;
  color: #888888;
  margin-bottom: 0px;
}

#last-image {
  position: relative;
  bottom: 40px;
}

#save-animal {
  display: flex;
  justify-content: center;
}
/* MODAL CSS */

/* MODAL CSS END */

@media all and (min-width: 320px) and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  #navbar {
    width: 335%;
  }

  #nav1-child-1 > img {
    width: 70%;
  }

  #nav1-child-2 {
    margin-left: 10%;
    position: relative;
    bottom: 10px;
  }

  /* #container1 {
    width: 335%;
  } */

  .container2 {
    width: 335%;
  }

  #container3 {
    width: 335%;
  }

  #red-btn {
    width: 50%;
  }

  #save-animal {
    width: 339%;
  }

  #footer {
    width: 339%;
  }
}
.isLoggedIn {
  display: none;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-left: 250px;
}

.image-animation {
  max-width: 100%;
  /* background-size: cover; */
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: changeBg 10s linear infinite;
  display: grid;
  place-items: center;
}
@keyframes changeBg {
  0% {
    background-image: url("https://i.ibb.co/zNgXf2v/Screenshot-2022-08-23-at-6-03-08-PM.png");
  }
  20% {
    background-image: url("https://i.ibb.co/LgTWnwf/Screenshot-2022-08-23-at-6-03-20-PM.png");
  }
  40% {
    background-image: url("https://i.ibb.co/8r0K76G/Screenshot-2022-08-23-at-6-03-35-PM.png");
  }
  60% {
    background-image: url("https://i.ibb.co/266C9FY/Screenshot-2022-08-23-at-6-03-46-PM.png");
  }
  100% {
    background-image: url("https://i.ibb.co/zNgXf2v/Screenshot-2022-08-23-at-6-03-08-PM.png");
  }
}
