* {
  box-sizing: border-box;
}
#footer {
  background-color: #2bb673;
  height: auto;
  width: 100%;
  padding: 30px;
}
#footer > div:nth-child(1) {
  width: 75%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#footer > div > div > a {
  text-decoration: none;
  display: block;
  line-height: 1.5;
  font-weight: normal;
  color: #eeeeee;
  font-size: 13px;
}
.fot-head {
  font-size: 16px;
  color: white;
  font-weight: bolder;
  margin-bottom: 10px;
}
#fot-para {
  margin: auto;
  width: 100%;
  margin-top: 20px;
}
#fot-para > p {
  text-align: center;
  color: #eeeeee;
  font-size: 10px;
  background-color: #2bb673;
  line-height: 1.5;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#body_div {
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 50px;
}
.sear {
  grid-auto-flow: 20px;
  width: 120px;
  background-color: #f53838;
  padding: 8px 10px 8px 10px;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  cursor: pointer;
  display: block;
}
#top_append {
  display: flex;
  gap: 20px;
}
.box {
  margin-top: 150px;
  width: 400px;
}
.button_red {
  margin-top: 20px;
  background-color: #f53838;
  width: 70%;
  height: 30px;
  color: #ffffff;
  font-size: 16px;
  padding-top: 5px;

  border-radius: 6px;
}
#fst {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 500;
  color: #444444;
}
#snd {
  color: #999999;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* #top_down{
    margin-top: 50px;
} */
#filter > div {
  display: flex;
  gap: 20px;
}
#filter > div > button {
  /* grid-auto-flow: 20px;
    
    background-color: #2bb673;
    padding: 8px 10px 8px 10px;
    border: 1px solid #d8d8d8;
    
   
    text-align: center;
     */
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 120px;
}
#desc_div {
  margin: 2%;
  font-size: 14px;
}
#desc_div :nth-child(2) {
  color: blue;
  text-underline-position: below;
}
#filter {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
#page {
  display: flex;
}

#B {
  height: 32px;
  width: 70px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
#top1_div > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
#top_append {
  margin-left: 18%;
}
.top_down {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 5%;
}
.box {
  margin-right: 14%;
  margin-top: +2%;
  margin-bottom: +5%;
}
#top {
  display: flex;
  background-color: #f0f0f0;
}
#main_con {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
}

#top1_div {
  display: flex;
  margin: 4px;
}
#top_div {
  display: flex;
  justify-content: space-between;
}
#main_div {
  width: 320px;
  /* height: 400px; */
  box-shadow: 0px 0px 6px #e0e0e0;
  border-radius: 8px;
}
#img_div > img {
  width: 320px;
  height: 240px;
}
#top_text_div {
  margin: 6px;
}
#buttonid {
  width: 70px;
  height: 35px;
  margin: 10px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  background-color: #f53838;
}
#imgnext_div {
  gap: 5 px;
  /* border: 1px solid black; */

  grid-template-columns: repeat(3, 1fr);
  margin-left: 24%;
  margin-right: 25%;
}
#imgnext_div > img {
  height: 20px;
  width: 25px;
  margin-top: 5px;
  gap: 15px;
  /* border: 2px solid black; */
  justify-content: space-between;
}

#imgnext_div > span {
  color: #888888;
  margin-top: 9px;
  margin-left: 10px;
  margin-right: 10px;
}
#desc_div {
  margin-top: 10px;
}
#bottom1_div > img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
#bottom_div {
  display: flex;
  border-top: 1px solid #d8d8d8;
  margin-left: 3%;
  margin-right: 3%;
}
#bottom_div :nth-child(2) {
  margin-left: 3%;
  color: #444444;
}
#bottom2_div > a {
  color: #444444;
  font-size: 16px;
  margin-left: 3%;
}
#bottom2_div > p {
  color: #444444;
  font-size: 13px;
}
